body{
    background-color: black;
}
.first{
    color: white;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:10px;
    justify-content: space-between;
}
.in{
    width: 300px;
    height: 200px;
    border-radius: 5%;
    background-color: #0D0C22;
    color: #fff;
    padding: 10px;
}
fa-solid{
    color: white;
}